<div class="wrapper">
    <div class="sa4d25">
        <div class="container-fluid">			
            <div class="row">
                <div class="col-lg-12">	
                    <h2 class="st_title"><i class="uil uil-bell"></i> Notifications</h2>
                </div>					
            </div>				
            <div class="row">
                <div class="col-12" >
                  
                    <div class="all_msg_bg" *ngFor="let item of listNotif"
                     [style.background]="item.isSeen? '#eee':''">
                        <div class="channel_my item all__noti5" (click)="markAsSeen(item.course_id._id)">
                            <div class="profile_link">
                                <img [src]="imagePath + item.course_id?.teacher_id?.photo?.path" alt="">
                                <div class="pd_content">
                                    <h6>{{item.course_id?.teacher_id?.firstname}}</h6>
                                    <p class="noti__text5">
                                        {{item.textNotif}}
                                    </p>
                                    <span class="nm_time">{{item.createdOn | daysAgo}} plus tard</span>
                                </div>							
                            </div>							
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>

