<div class="wrapper">
    <div class="sa4d25">
        <div class="container-fluid">			
            <div class="row">
                <div class="col-xl-12 col-lg-8">
                    <div class="section3125">
                        <div class="explore_search">
                            <div class="ui search focus">
                               
                              
                            </div>
                        </div>							
                    </div>							
                </div>
                <div class="col-md-12">
                    <div class="section3125 mt-50">
                        <h4 class="item_title  mb-0">All Categories</h4>
                        <div class="la5lo1 cate_521">
                            <div class="_cate101"  (click)="selection()">
                                <i class="uil uil-arrow cate_icon1"></i>Development
                            </div>

                            <div class="_1frstcate">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4">
                                        <h4>Web development</h4>
                                        <ul class="cate_option" *ngFor="let c of categories ">
                                            <li><a href="#">{{c.category_name_fr}}</a></li>
                                           
                                        </ul>
                                    </div>
                            </div></div>
                           
                        </div>
                      
                    
                    </div>
                </div>					
            </div>
        </div>
    </div>
    
</div>
