<div class="wrapper">
    <div class="sa4d25">
        <div class="container">			
            <div class="row">
                <div class="col-xl-12 col-lg-8">
                    <div class="section3125">
                        <div class="explore_search">
                            <div class="ui search focus">
                                <div class="ui left icon input swdh11">
                                    <input  #query  (change)="filter(query.value)"class="prompt srch_explore" type="text" placeholder="Search Tutors...">
                                    <i class="uil uil-search-alt icon icon2"></i>
                                </div>
                            </div>
                        </div>							
                    </div>							
                </div>	
                <div class="col-md-12">
                    <div class="_14d25">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-6" *ngFor="let e of filterAllEnseignant">
                                <div class="fcrse_1 mt-30" [routerLink]="['/profil/'+e._id]" >
                                    <div class="tutor_img">
                                        <a >
                                            <img [src]=" imagePath+e.photo?.path" alt=""></a>												
                                    </div>
                                    <div class="tutor_content_dt"  >
                                        <div class="tutor150">
                                            <a  class="tutor_name">{{e.firstname}}</a>
                                            <div class="mef78" title="Verify">
                                                <i class="uil uil-check-circle"></i>
                                            </div>
                                        </div>
                                        <div class="tutor_cate">{{e.short_description}}</div>
                                        <ul class="tutor_social_links">
                                            <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
                                            
                                            <li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
                                        </ul>
                                        <div class="tut1250">
                                            <span class="vdt15">100K Students</span>
                                            <span class="vdt15">15 Courses</span>
                                        </div>
                                    </div>
                                </div>										
                            </div>
                           
                           
                           
                            
                            <div class="col-md-12">
                                <div class="main-loader mt-50">													
                                    <div class="spinner">
                                        <div class="bounce1"></div>
                                        <div class="bounce2"></div>
                                        <div class="bounce3"></div>
                                    </div>																										
                                </div>
                            </div>
                        </div>				
                    </div>				
                </div>				
            </div>
        </div>
    </div>
    
</div>

