
	<div class="wrapper">
		<div class="sa4d25">
			<div class="container">			
				<div class="row">
					<div class="col-lg-12">	
						<h2 class="st_title"><i class="uil uil-analysis"></i> Create New Course</h2>
					</div>					
				</div>				
				<div class="row">
					<div class="col-12">


						<form [formGroup]="coursForm" >


							<div class="course_tabs_1">
								<div id="add-course-tab" class="step-app">
									<ul class="step-steps">

										<li class="active">
											<a href="#tab_step1">
												<span class="number"></span>
												<span class="step-name">Setting Information</span>
											</a>
										</li>
										<li>
											<a href="#tab_step2">
												<span class="number"></span>
												<span class="step-name">View</span>
											</a>
										</li>
										<li>
											<a href="#tab_step3">
												<span class="number"></span>
												<span class="step-name">Course Content</span>
											</a>
										</li>
										
									</ul>
									<div class="step-content">
										<div class="step-tab-panel step-tab-info active" id="tab_step1"> 
											<div class="tab-from-content">
												<div class="title-icon">
													<h3 class="title"><i class="uil uil-info-circle"></i>General Information</h3>
												</div>
												<div class="course__form">
													<div class="general_info10">
														<div class="row">
															<div class="col-lg-6 col-md-6">															
																<div class="ui search focus mt-30 lbel25">
																	<label>Course Title*</label>
																	<div class="ui left icon input swdh19">
														<input class="prompt srch_explore" type="text"
														 placeholder="Insert your course title." 
														 formControlName="course_name"  maxlength="60" [value]="courT?.course_name">	
														 														
																		<div class="badge_num">{{titleLength_60()}}</div>
																	</div>
																</div>									
															</div>
															<div class="col-lg-6 col-md-6">															
																<div class="ui search focus mt-30 lbel25">
																	<label>Course Subtitle*</label>
																	<div class="ui left icon input swdh19">
																		<input  formControlName="subtitle" 
																		 class="prompt srch_explore" type="text" placeholder="Insert your course Subtitle." 
																		 [value]="subtitle" 
																		 maxlength="120">															
																		<div class="badge_num2">{{titleLength_120()}}</div>
																	</div>
																</div>									
															</div>
															<div class="col-lg-12 col-md-12">
																<div class="course_des_textarea mt-30 lbel25">
																	<label>Course Description*</label>
																	<div class="course_des_bg">
																		<ul class="course_des_ttle">
																			<li><a href="#"><i class="uil uil-bold"></i></a></li>
																			<li><a href="#"><i class="uil uil-italic"></i></a></li>
																			<li><a href="#"><i class="uil uil-list-ul"></i></a></li>
																			<li><a href="#"><i class="uil uil-left-to-right-text-direction"></i></a></li>
																			<li><a href="#"><i class="uil uil-right-to-left-text-direction"></i></a></li>
																			<li><a href="#"><i class="uil uil-list-ui-alt"></i></a></li>
																			<li><a href="#"><i class="uil uil-link"></i></a></li>
																			<li><a href="#"><i class="uil uil-text-size"></i></a></li>
																			<li><a href="#"><i class="uil uil-text"></i></a></li>
																		</ul>
																		<div class="textarea_dt">															
																			<div class="ui form swdh339">
																				<div class="field">
																					<textarea rows="5" formControlName="description" 
																					placeholder="Insert your course description"
																					 [value]="courT?.description"></textarea>
																				</div>
																			</div>										
																		</div>
																	</div>
																</div>
															</div>
															<div class="col-lg-3 col-md-12">
																<div class="mt-30 lbel25">
																	<label>Type</label>
																</div>
											<select class="ui hj145 dropdown cntry152 prompt srch_explore" formControlName="type_id"  >
											<option value="">Select Type</option>
											<option *ngFor="let type of coursTypes" [value]="type._id">
												<span [ngSwitch]="translate.currentLang">
													<span *ngSwitchCase="'en'">{{type.courseType_name_en}} </span>
													<span *ngSwitchCase="'ar'">{{type.courseType_name_ar}} </span>
													<span *ngSwitchCase="'fr'">{{type.courseType_name_fr}} </span>
												</span> 
											
											</option>
																	
											</select>
															</div>
															<div class="col-lg-3 col-md-6">
																<div class="mt-30 lbel25">
																	<label>Category</label>
																</div>
																<select class="ui hj145 dropdown cntry152 prompt srch_explore" formControlName="category_id">
																	<option value="">Select Category</option>
																	<option *ngFor="let category of categories" [value]="category._id">
																		<span [ngSwitch]="translate.currentLang">
																			<span *ngSwitchCase="'en'">{{category.category_name_en}} </span>
																			<span *ngSwitchCase="'ar'">{{category.category_name_ar}} </span>
																			<span *ngSwitchCase="'fr'">{{category.category_name_fr}} </span>
																		</span> 
																	
																	</option>
																	
																</select>
															</div>
																
															<div class="col-lg-3 col-md-12">
																<div class="mt-30 lbel25">
																	<label>speciality</label>
																</div>
											<select class="ui hj145 dropdown cntry152 prompt srch_explore"  formControlName="speciality_id">
											<option value="">Select speciality</option>
											<option *ngFor="let speciality of specialities" [value]="speciality._id">
										
												<span [ngSwitch]="translate.currentLang">
													<span *ngSwitchCase="'en'">{{speciality.speciality_name_en}} </span>
													<span *ngSwitchCase="'ar'">{{speciality.speciality_name_ar}} </span>
													<span *ngSwitchCase="'fr'">{{speciality.speciality_name_fr}} </span>
												</span> 
											
											</option>
																	
											</select>
															</div>
															<div class="col-lg-3 col-md-6">
																<div class="mt-30 lbel25">
																	<label>filiere</label>
																</div>
																<select class="ui hj145 dropdown cntry152 prompt srch_explore" formControlName="filiere_id">
																	<option value="">Select filiere</option>
																	<option *ngFor="let filiere of filieres" [value]="filiere._id">
																		<span [ngSwitch]="translate.currentLang">
																			<span *ngSwitchCase="'en'">{{filiere.filiere_name_en}} </span>
																			<span *ngSwitchCase="'ar'">{{filiere.filiere_name_ar}} </span>
																			<span *ngSwitchCase="'fr'">{{filiere.filiere_name_fr}} </span>
																		</span> 
																	
																	</option>
																	
																</select>
															</div>
	
	
	
														</div>
													</div>
													<div class="price_course">
														<div class="row">
															
															<div class="col-lg-2 col-md-3 col-sm-6">
																<div class="mt-30 lbel25">
																	<label> <i class="uil uil-dollar-sign-alt"></i> Price</label>
																	<div class="ui left icon input swdh19">
																		<input class="prompt srch_explore" type="number" min="0" value="0"
																		placeholder="Insert your course title."
																		 maxlength="60" id="main[title]" 
																		  formControlName="price" 
																		  [value]="p"
																		  (keyup)="signePrice($event.target.value)">															
																		
																	</div>
																</div>
															</div>
														
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<div class="step-tab-panel step-tab-gallery" id="tab_step2">
											<div class="tab-from-content">
												<div class="title-icon">
													<h3 class="title"><i class="uil uil-image-upload"></i>View</h3>
												</div>
												<div class="course__form">
													<div class="view_info10">
														<div class="row">
															<div class="col-lg-12">	
																<div class="view_all_dt">	
																	<div class="view_img_left">	
																		<div class="view__img">	

																	  <img [src]="imagePath + courT?.cover?.path" alt="Ajouter image cover" 
																	 >
																		
																	</div>
																	</div>
																	<div class="view_img_right">	
																		<h4>Cover Image</h4>
																		<p>
																		Téléchargez votre image de cour ici.</p>
																		<div class="upload__input">
																			<div class="input-group">
																				<div class="custom-file">
							                                      <input type="file" (change)="uploadFile($event,'coverFile')"
							                                        class="custom-file-input" id="inputGroupFile04" formControlName="cover">
																					<label class="custom-file-label" for="inputGroupFile04">{{ img_cover_name}}</label>
																					
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="view_all_dt">	
																	<div class="view_img_left">	
																		<div class="view__img">	
																			<video controls width="400" height="222" [src]="imagePath+courT.content?.path" alt="video"></video>
																		</div>
																	</div>
																	<div class="view_img_right">	
																		<h4>cour video </h4>
																		<p>Téléchargez votre cour video ici.</p>
																		<div class="upload__input">
																			<div class="input-group">
																				<div class="custom-file">
											<input type="file"  (change)="uploadFile($event,'videoFile')" class="custom-file-input" id="inputGroupFile05" formControlName="content">
																					<label class="custom-file-label" for="inputGroupFile05">{{video_cover_name}}</label>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="step-tab-panel step-tab-location" id="tab_step3">
											<div class="tab-from-content">
												<div class="title-icon">
													<h3 class="title"><i class="uil uil-film"></i>Course Content</h3>
												</div>
												<div class="course__form">
													<div class="row">
														<div class="col-lg-12">		
															<div class="extra_info">		
																<h4 class="part__title">New Course Content</h4>
															</div>
															<div class="view_info10">
																<div class="row">
																	<div class="col-lg-12 col-md-12">															
																		<div class="ui search focus mt-30 lbel25">
																			<label>Course Content Title*</label>
																			<div class="ui left icon input swdh19">
																				<input [(ngModel)]="newCoursContent.title" formControlName="title" 
																				[value]="courT?.content?.title"
																				class="prompt srch_explore" type="text" placeholder="Insert your course content title." name="title" data-purpose="edit-course-title" maxlength="60" id="Content[title]" value="">															
																			</div>
																		</div>									
																	</div>
																	<div class="col-lg-12 col-md-12">	
																		<div class="lecture_title">
																			<h4>Add Lecture</h4>
																		</div>
																	</div>
																	<div class="col-lg-4 col-md-12">															
																		<div class="ui search focus mt-30 lbel25">
																			<label>Lecture Title*</label>
																			<div class="ui left icon input swdh19">
																				<input [(ngModel)]="newLectureContent.title"  formControlName="title2"
																				class="prompt srch_explore"
																				 type="text" 
																				 placeholder="Insert your lecture title."
																				  data-purpose="edit-course-title" maxlength="60" id="lecture[title]" value="">															
																			</div>
																		</div>									
																	</div>
																	<div class="col-lg-4 col-md-6">
																		<div class="part_input mt-30 lbel25">
																			<label>File*</label>
																			<div class="input-group">
																				<div class="custom-file">
																					<input (change)="uploadFile($event,'lectureFile')"  type="file" class="custom-file-input" id="inputGroupFile06">
																					<label class="custom-file-label" for="inputGroupFile06">No Choose file - (Pdf, Video)</label>
																				</div>
																			</div>
																		</div>
																	</div>
																	
																	<div class="col-lg-12 col-md-12">	
																		<div class="course_des_textarea mt-30 lbel25">
																			<label>Description*</label>
																			<div class="course_des_bg">
																				<ul class="course_des_ttle">
																					<li><a href="#"><i class="uil uil-bold"></i></a></li>
																					<li><a href="#"><i class="uil uil-italic"></i></a></li>
																					<li><a href="#"><i class="uil uil-list-ul"></i></a></li>
																					<li><a href="#"><i class="uil uil-left-to-right-text-direction"></i></a></li>
																					<li><a href="#"><i class="uil uil-right-to-left-text-direction"></i></a></li>
																					<li><a href="#"><i class="uil uil-list-ui-alt"></i></a></li>
																					<li><a href="#"><i class="uil uil-link"></i></a></li>
																					<li><a href="#"><i class="uil uil-text-size"></i></a></li>
																					<li><a href="#"><i class="uil uil-text"></i></a></li>
																				</ul>
																				<div class="textarea_dt">															
																					<div class="ui form swdh339">
																						<div class="field">
																							<textarea 
																							[(ngModel)]="newLectureContent.description"  formControlName="description2"
																							rows="5" id="id_part_description" placeholder="Insert your course part description"></textarea>
																						</div>
																					</div>										
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col-lg-5 col-md-6">															
																		<div class="ui search focus mt-30 lbel25">
																			<label>Volume*</label>
																			<div class="ui left icon input swdh19 swdh95">
																				<input [(ngModel)]="newLectureContent.volume"  formControlName="volume"
																				class="prompt srch_explore" type="number"
																				 min="0"   placeholder="0">															
																				<div class="badge_mb">MB</div>
																			</div>
																		</div>									
																	</div>
																	<div class="col-lg-5 col-md-6">															
																		<div class="ui search focus mt-30 lbel25">
																			<label>Duration*</label>
																			<div class="ui left icon input swdh19 swdh55">
																				<input [(ngModel)]="newLectureContent.duration"  formControlName="duration" 
																				
																				class="prompt srch_explore" type="number" min="0"  placeholder="0">															
																				<div class="badge_min">Minutes</div>
																			</div>
																		</div>									
																	</div>
																	<div class="col-lg-2 col-md-12">
																		<button class="part_btn_save prt-sv" type="submit" (click)="saveLecture()">Save Lecture</button>
																	</div>
																	<div class="col-lg-12 col-md-12">
																		<div class="table-responsive mt-50 mb-0">
																			<table class="table ucp-table">
																				<thead class="thead-s">
																					<tr>
																						<th class="text-center" scope="col">Lecture</th>
																						<th class="cell-ta">Title</th>
																						<th class="text-center" scope="col">Volume</th>
																						<th class="text-center" scope="col">Duration</th>
																						
																						<th class="text-center" scope="col">File</th>
																						<th class="text-center" scope="col">Controls</th>
																					</tr>
																				</thead>
																				<tbody>
																					<tr *ngFor="let l of newCoursContent.lectureContent;let i =index">
																						<td class="text-center">{{i+1}}</td>
																						<td class="cell-ta">{{l.title}}</td>
																						<td class="text-center">{{l.volume}}</td>
																						<td class="text-center">{{l.duration}}</td>
																					
																						<td class="text-center"><a href="#">{{l.file}}</a></td>
																						<td class="text-center">
																							<a href="#" title="Edit" class="gray-s"><i class="uil uil-edit-alt"></i></a>
																							<a href="#" title="Delete" class="gray-s"><i class="uil uil-trash-alt"></i></a>
																						</td>
																					</tr>
																					
																				</tbody>
																			</table>
																		</div>
																	</div>
																	<div class="col-lg-12 col-md-12">
																		<div class="save_content">
																			<button class="save_content_btn" type="Submit" (click)="saveContent()">Save Course Content</button>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="table-responsive mt-30">
													<table class="table ucp-table" id="content-table">
														<thead class="thead-s">
															<tr>
																<th class="text-center" scope="col">Content</th>
																<th class="cell-ta">Title</th>
																<th class="text-center" scope="col">lectures</th>
																<th class="text-center" scope="col">Volume</th>
																<th class="text-center" scope="col">Duration</th>
														
																<th class="text-center" scope="col">Controls</th>
															</tr>
														</thead>
														<tbody>
															<tr *ngFor="let c  of coursContent;let i =index">
																<td class="text-center">{{i+1}}</td>
																<td class="cell-ta">{{c.title}}</td>
																<td class="text-center">{{c.lectureContent?.length}}</td>
																<td class="text-center">{{c.volume}}</td>
																<td class="text-center">{{c.duration}}</td>
															
															
																<td class="text-center">
																	<a (click)="editContent()" title="Edit" class="gray-s"><i class="uil uil-edit-alt"></i></a>
																	<a (click)="deleteContent(c)"title="Delete" class="gray-s"><i class="uil uil-trash-alt"></i></a>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											 </div>
										</div>
										
	
									   
									</div>
									<div class="step-footer step-tab-pager">
										<button data-direction="prev" class="btn btn-default steps_btn">PREVIOUS</button>
										<button data-direction="next" class="btn btn-default steps_btn" >Next</button>
										<button data-direction="finish" class="btn btn-default steps_btn" type="submit"
										(click)="addCours()"
										[disabled]="!coursForm.valid">Submit</button>
									</div>
								</div>
							
							
							</div>
						</form>
						

                    </div>
				</div>
			</div>
		</div>
		
	</div>